%-------------------------
% Resume in Latex
% Author : Jake Gutierrez
% Based off of: https://github.com/sb2nov/resume
% License : MIT
%------------------------

\documentclass[letterpaper,11pt]{article}

\usepackage{latexsym}
\usepackage[empty]{fullpage}
\usepackage{titlesec}
\usepackage{marvosym}
\usepackage[usenames,dvipsnames]{color}
\usepackage{verbatim}
\usepackage{enumitem}
\usepackage[hidelinks]{hyperref}
\usepackage{fancyhdr}
\usepackage[english]{babel}
\usepackage{tabularx}
\usepackage{fontawesome7}
\input{glyphtounicode}

%----------FONT OPTIONS----------
% sans-serif
% \usepackage[sfdefault]{FiraSans}
% \usepackage[sfdefault]{roboto}
% \usepackage[sfdefault]{noto-sans}
% \usepackage[default]{sourcesanspro}

% serif
% \usepackage{CormorantGaramond}
% \usepackage{charter}


\pagestyle{fancy}
\fancyhf{} % clear all header and footer fields
\fancyfoot{}
\renewcommand{\headrulewidth}{0pt}
\renewcommand{\footrulewidth}{0pt}

% Adjust margins
\addtolength{\oddsidemargin}{-0.5in}
\addtolength{\evensidemargin}{-0.5in}
\addtolength{\textwidth}{1in}
\addtolength{\topmargin}{-.5in}
\addtolength{\textheight}{1.0in}

\urlstyle{same}

\raggedbottom
\raggedright
\setlength{\tabcolsep}{0in}

% Sections formatting
\titleformat{\section}{
  \vspace{-4pt}\scshape\raggedright\large
}{}{0em}{}[\color{black}\titlerule \vspace{-5pt}]

% Ensure that generate pdf is machine readable/ATS parsable
\pdfgentounicode=1

%-------------------------
% Custom commands
\newcommand{\resumeItem}[1]{
  \item\small{
    {#1 \vspace{-2pt}}
  }
}

\newcommand{\resumeSubheading}[4]{
  \vspace{-2pt}\item
    \begin{tabular*}{0.97\textwidth}[t]{l@{\extracolsep{\fill}}r}
      \textbf{#1} & #2 \\
      \textit{\small#3} & \textit{\small #4} \\
    \end{tabular*}\vspace{-7pt}
}

\newcommand{\resumeSubSubheading}[2]{
    \item
    \begin{tabular*}{0.97\textwidth}{l@{\extracolsep{\fill}}r}
      \textit{\small#1} & \textit{\small #2} \\
    \end{tabular*}\vspace{-7pt}
}

\newcommand{\resumeProjectHeading}[2]{
    \item
    \begin{tabular*}{0.97\textwidth}{l@{\extracolsep{\fill}}r}
      \small#1 & #2 \\
    \end{tabular*}\vspace{-7pt}
}

\newcommand{\resumeSubItem}[1]{\resumeItem{#1}\vspace{-4pt}}

\renewcommand\labelitemii{$\vcenter{\hbox{\tiny$\bullet$}}$}

\newcommand{\resumeSubHeadingListStart}{\begin{itemize}[leftmargin=0.15in, label={}]}
\newcommand{\resumeSubHeadingListEnd}{\end{itemize}}
\newcommand{\resumeItemListStart}{\begin{itemize}}
\newcommand{\resumeItemListEnd}{\end{itemize}\vspace{-5pt}}

%-------------------------------------------
%%%%%%  RESUME STARTS HERE  %%%%%%%%%%%%%%%%%%%%%%%%%%%%


\begin{document}

\begin{center}
    \textbf{\Huge \scshape <VAR>name</VAR>} \\ \vspace{1pt}
    \small \faPhone \quad <VAR>phone</VAR> $|$
    \faEnvelope \quad \href{mailto:<VAR>email</VAR>}{\underline{<VAR>email</VAR>}} $|$ 
    \faLinkedin \quad \href{https://linkedin.com/in/<VAR>linkedin</VAR>}{\underline{<VAR>linkedin</VAR>}} $|$
    \faGithub \quad \href{https://github.com/<VAR>github</VAR>}{\underline{<VAR>github</VAR>}} $|$
    \faGlobe \quad \href{<VAR>website</VAR>}{\underline{<VAR>website</VAR>}}
\end{center}


%-----------EDUCATION-----------
\section{Education}
  <BLOCK>for edu in education</BLOCK>
  \resumeSubHeadingListStart
    \resumeSubheading
      {<VAR>edu.institution | latex_escape</VAR>}{<VAR>edu.location | latex_escape</VAR>}
      {<VAR>edu.degree | latex_escape</VAR>}{<VAR>edu.start_date</VAR> -- <VAR>edu.end_date</VAR>}
      \resumeItemListStart
        \resumeItem{<VAR>edu.gpa | latex_escape</VAR>}
        <BLOCK>if edu.courses</BLOCK>
        \resumeItem{Relevant Coursework: <BLOCK>for course in edu.courses</BLOCK><VAR>course | latex_escape</VAR><BLOCK>if not loop.last</BLOCK>, <BLOCK>endif</BLOCK><BLOCK>endfor</BLOCK>}
        <BLOCK>endif</BLOCK>
      \resumeItemListEnd
  \resumeSubHeadingListEnd
  <BLOCK>endfor</BLOCK>

%-----------EXPERIENCE-----------
\section{Experience}
  \resumeSubHeadingListStart

  <BLOCK>for exp in experiences</BLOCK>
    \resumeSubheading
      {<VAR>exp.title | latex_escape</VAR>}{<VAR>exp.start_date</VAR> -- <VAR>exp.end_date</VAR>}
      {<VAR>exp.company | latex_escape</VAR>}{<VAR>exp.location | latex_escape</VAR>}
      \resumeItemListStart
        <BLOCK>for detail in exp.details</BLOCK>
        \resumeItem{<VAR>detail | latex_escape</VAR>}
        <BLOCK>endfor</BLOCK>
      \resumeItemListEnd
    <BLOCK>endfor</BLOCK>

  \resumeSubHeadingListEnd


%-----------PROJECTS-----------
\section{Projects}
    \resumeSubHeadingListStart
      <BLOCK>for proj in projects</BLOCK>
      \resumeProjectHeading
          {\textbf{<VAR>proj.title | latex_escape</VAR>} $|$ \emph{<BLOCK>for skill in proj.skills</BLOCK><VAR>skill | latex_escape</VAR><BLOCK>if not loop.last</BLOCK>, <BLOCK>endif</BLOCK><BLOCK>endfor</BLOCK>}}{<VAR>proj.start_date</VAR> -- <VAR>proj.end_date</VAR>}
          \resumeItemListStart
            <BLOCK>for detail in proj.details</BLOCK>
            \resumeItem{<VAR>detail | latex_escape</VAR>}
            <BLOCK>endfor</BLOCK>
          \resumeItemListEnd
      <BLOCK>endfor</BLOCK>
    \resumeSubHeadingListEnd

    %-----------Extra Curriculars-----------
\section{Extra Curriculars}
  \resumeSubHeadingListStart

  <BLOCK>for exp in extra_curriculars</BLOCK>
    \resumeSubheading
      {<VAR>exp.position | latex_escape</VAR>}{<VAR>exp.start_date</VAR> -- <VAR>exp.end_date</VAR>}
      {<VAR>exp.organization | latex_escape</VAR>}{<VAR>exp.location | latex_escape</VAR>}
      \resumeItemListStart
        <BLOCK>for detail in exp.details</BLOCK>
        \resumeItem{<VAR>detail | latex_escape</VAR>}
        <BLOCK>endfor</BLOCK>
      \resumeItemListEnd
    <BLOCK>endfor</BLOCK>

  \resumeSubHeadingListEnd



%
%-----------PROGRAMMING SKILLS-----------
\section{Technical Skills}
 \begin{itemize}[leftmargin=0.15in, label={}]
    \small{\item{
        \textbf{Languages}{: <BLOCK>for item in skills.languages</BLOCK><VAR>item | latex_escape</VAR><BLOCK>if not loop.last</BLOCK>, <BLOCK>endif</BLOCK><BLOCK>endfor</BLOCK>} \\
        \textbf{Frameworks}{: <BLOCK>for item in skills.frameworks</BLOCK><VAR>item | latex_escape</VAR><BLOCK>if not loop.last</BLOCK>, <BLOCK>endif</BLOCK><BLOCK>endfor</BLOCK>} \\
        \textbf{Developer Tools}{: <BLOCK>for item in skills.tools</BLOCK><VAR>item | latex_escape</VAR><BLOCK>if not loop.last</BLOCK>, <BLOCK>endif</BLOCK><BLOCK>endfor</BLOCK>} \\
        \textbf{Libraries}{: <BLOCK>for item in skills.libraries</BLOCK><VAR>item | latex_escape</VAR><BLOCK>if not loop.last</BLOCK>, <BLOCK>endif</BLOCK><BLOCK>endfor</BLOCK>} \\
        \textbf{Hobbies}{: <BLOCK>for item in skills.hobbies</BLOCK><VAR>item | latex_escape</VAR><BLOCK>if not loop.last</BLOCK>, <BLOCK>endif</BLOCK><BLOCK>endfor</BLOCK>} \\
    }}
 \end{itemize}

 %-----------Certifications-----------
\section{Certifications}
  <BLOCK>for cert in certifications</BLOCK>
  \resumeSubHeadingListStart
    \resumeSubheading
      {<VAR>cert.name | latex_escape</VAR>}{<VAR>cert.date | latex_escape</VAR>}
      {<VAR>cert.issuer | latex_escape</VAR>}{}
  \resumeSubHeadingListEnd
  <BLOCK>endfor</BLOCK>

%-------------------------------------------
\end{document}